// Colors
$grey: #333333;

// Navigation colors
$nav-background: $grey;
$nav-text-colour: #ffffff;

// Clock variables
$clock-text-colour: #ffffff;
$clock-bg-colour: #b5d0e2;
$clock-border-colour: #2099e8;